:root {
    --primary-color: #abac65;
    --secondary-color: #6ca4a7;
    --accent-color: #182e42;
    --background-color: #f4f4f4;
    --text-color: #333333;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-accent {
    background-color: var(--accent-color);
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-accent {
    color: var(--accent-color);
}

.border-primary {
    border-color: var(--primary-color);
}

.hover\:bg-primary-dark:hover {
    background-color: #959766;
}

#schedule {
    padding: 5px 10px;
}

.dropzone {
    border: 2px dashed var(--secondary-color);
    border-radius: 5px;
    background: white;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropzone .dz-message {
    font-weight: 400;
    text-align: center;
}

.dropzone .dz-preview .dz-image {
    border-radius: 5px;
}

#content-section {
    vertical-align: top;
    padding-top: 0.5rem; 
}

#btn-post {
    margin-top: 20px;
}

#btn-post:hover {
    background-color: #2238f8;
    transform: translateY(-4px);
    font-weight: bold;
    transition: ease-in 0.2s;
}

/* Notification styles */
.notification {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 999;
}

/* Success notification */
.notification.success {
    background-color: #4CAF50;
}

/* Error notification */
.notification.error {
    background-color: #F44336;
}

/* Close button style */
.notification .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.notification .close-btn:hover {
    color: #ccc;
}

/* Fade-out effect */
.fade-out {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropzone .dz-remove {
    color: red !important;
    cursor: pointer; 
}

.dropzone .dz-remove:hover {
    text-decoration: underline;
}

/* Adjust Dropzone preview container to handle videos and images */
.dropzone .dz-preview .dz-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

/* Ensure the video fills the container without stretching */
.dropzone .dz-preview .dz-image video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hide or modify the white bar on the image preview */
.dz-preview .dz-details {
    background: none; 
}

.dz-preview .dz-filename {
    position: absolute; /* Ensure the file name is not covered */
    bottom: 5px;
    left: 12px;
    color: black;
}

.dz-progress {
    display: none;
}

@media (max-width: 640px) {
    .sidebar {
        position: fixed;
        z-index: 40;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .sidebar.open {
        transform: translateX(0);
    }
}